<!DOCTYPE html>
<html lang="en">
<head>
        <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="statics/css/base.css">
    <link rel="stylesheet" href="statics/css/vendor.css">
    <link rel="stylesheet" href="statics/css/main.css">
</head>
<body>
     <!-- footer
    ================================================== -->
    <footer class="s-footer">
        <div class="row">
            <div class="column large-full footer__content">
                <div class="footer__copyright">
                    <span>© Copyright Typerite 2019</span>
                    <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
                </div>
            </div>
        </div>

        <div class="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"></a>
        </div>
    </footer>

    <script src="statics/js/jquery-3.2.1.min.js"></script>
    <script src="statics/js/plugins.js"></script>
    <script src="statics/js/main.js"></script>
</body>
</html>