<!DOCTYPE html>
<html lang="en">
<body>
     <!-- footer
    ================================================== -->
    <footer class="s-footer">
        <div class="row">
            <div class="column large-full footer__content">
                <div class="footer__copyright">
                    <span>© Copyright DatNgo 2022</span>
                    <span>Design by <a href="https://www.styleshout.com/">DatNgo</a></span>
                </div>
            </div>
        </div>

        <div class="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"></a>
        </div>
    </footer>
</body>
</html>