<!DOCTYPE html>
<html lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Trong Đắt</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="statics/css/base.css">
    <link rel="stylesheet" href="statics/css/vendor.css">
    <link rel="stylesheet" href="statics/css/main.css">

    <!-- Java Script
    ================================================== -->
    <script src="statics/js/modernizr.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="statics/images/icons/favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="statics/images/icons/favicon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="statics/images/icons/favicon.png">

</head>
<body>
    <!-- Java Script
    ================================================== -->
    <script src="statics/js/jquery-3.2.1.min.js"></script>
    <script src="statics/js/plugins.js"></script>
    <script src="statics/js/main.js"></script>
</body>
</html>