<!DOCTYPE html>
<html lang="en">
<head>
       <!-- Java Script ================================================== -->
    <script src="statics/js/jquery-3.2.1.min.js"></script>
    <script src="statics/js/plugins.js"></script>
    <script src="statics/js/main.js"></script>
</head>>
<body>
    <header class="s-header">
        <div class="header__top">
            <div class="header__logo">
                <a class="site-logo" href="index.html">
                    <img src="statics/images/logo.svg" alt="Homepage">
                </a>
            </div>
            <a href="#0" class="header__menu-toggle"><span>Menu</span></a>
        </div> <!-- end header__top -->

        <nav class="header__nav-wrap">
            <ul class="header__nav">
                <li class="current"><a href="index.html" title="">Home</a></li>
                <li class="current"><a href="blogs.html" title="">Blogs</a></li>
                <li class="current"><a href="resume.html" title="">Resume</a></li>
            </ul> <!-- end header__nav -->

            <ul class="header__social">
                <li class="ss-facebook">
                    <a href="https://www.facebook.com/datngo018197">
                        <span class="screen-reader-text">Facebook</span>
                    </a>
                </li>
                <li class="ss-github">
                    <a href="https://github.com/datnnt1997">
                        <span class="screen-reader-text">Github</span>
                    </a>
                </li>
                <li class="ss-linkedin">
                    <a href="https://www.linkedin.com/in/dat-ngo-584599153">
                        <span class="screen-reader-text">Linkedin</span>
                    </a>
                </li>
                <li class="ss-home">
                    <a href="index.html">
                        <span class="screen-reader-text">Home</span>
                    </a>
                </li>
            </ul>
        </nav> <!-- end header__nav-wrap -->
    </header> <!-- end s-header -->
</body>
</html>